standalone_tags:
  [
    {id: 0, size: 0.07}, 
    {id: 1, size: 0.07},
    {id: 2, size: 0.07},
    {id: 3, size: 0.07},
    {id: 4, size: 0.07},
    {id: 5, size: 0.07},
    {id: 6, size: 0.07},
    {id: 7, size: 0.07},
    {id: 8, size: 0.07},
    {id: 9, size: 0.07},
    {id: 10, size: 0.07},
  ]
# ## Tag bundle definitions
# ### Remarks
#
# - name is optional
# - x, y, z have default values of 0 thus they are optional
# - qw has default value of 1 and qx, qy, qz have default values of 0 thus they are optional
#
# ### Syntax
#
# tag_bundles:
#   [
#     {
#       name: 'CUSTOM_BUNDLE_NAME',
#       layout:
#         [
#           {id: ID, size: SIZE, x: X_POS, y: Y_POS, z: Z_POS, qw: QUAT_W_VAL, qx: QUAT_X_VAL, qy: QUAT_Y_VAL, qz: QUAT_Z_VAL},
#           ...
#         ]
#     },
#     ...
#   ]
