<launch>
  <node pkg="global_vision" type="odometryPub" respawn="false" name="odometryPub" output="screen">
    <param name="car_total_num" value="20" />
  </node>

  <node pkg="global_vision" type="static_tf" respawn="false" name="static_tf" output="screen">
    <param name="car_num" value="20" />
  </node>
  <!-- tf publisher -->
  <!-- matrix (1, 0, 0, 0, -1, 0, 0, 0, -1) -->
  <node pkg="tf" type="static_transform_publisher" name="map_hik_broadcaster" args="0 2 4 1 0 0 0 map hik_camera 100" />
</launch>